
    <div class="col-md-6 col-xs-12">
        <img src="../../assets/images/Fotos02.jpg"  class="img-fluid.rounded float-left"  alt="foto perfil">
    </div>
    <div class="col-md-6 col-xs-12">
        <h1 class="text-center">Sobre Mim</h1>
        <p class="text-wrap" style="width: 500px;">
            Engenheira de formação, mas artista de coração, aprendi os primeiros passos do crochê e do tricô ainda criança com minha avó, Maria Jose. Desde os 9 anos, venho diversificando essas técnicas e buscando trazer inovação e sofisticação aos meus trabalhos.
        Em meus canais e redes sociais, você vai encontrar diversas peças, das mais básicas às mais elaboradas, como vestidos, bolsas e acessórios. Além de muitas dicas, macetes, instruções e curiosidades sobre essas artes milenares.
        Técnica apurada, receitas bem explicadinhas e muito alto astral! É assim que convido todos para se juntarem a mim nessa jornada deliciosa de nozinhos e agulhas.
        </p> 
    </div>

