<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand"  routerLink="/inicio" routerLinkActive="active" class="nome">Simone Carvalho</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/inicio" routerLinkActive="active" >Início</a>
        <a class="nav-item nav-link" routerLink="/ebook" routerLinkActive="active">Ebook</a>
        <a class="nav-item nav-link" routerLink="/ebook" routerLinkActive="active">Aulas</a>
        <a class="nav-item nav-link" routerLink="/ebook" routerLinkActive="active">Sobre Mim</a>
        <a class="nav-item nav-link" routerLink="/ebook" routerLinkActive="active">Contato</a>
      </div>
    </div>
  </nav>
  
<!--mat-toolbar class="menu" class="mat-elevation-z8">
   <a mat-button routerLink='/inicio'> <span class="nome"><mat-icon>eco</mat-icon>Simone Carvalho</span></a>

    <div class="spacer"></div>

    <a  mat-button routerLink='/inicio'>Início</a>
    <a  mat-button routerLink='/ebook' mat-button>Ebook</a>
    <a mat-button>Aulas</a>
    <a mat-button>Contato</a>
</mat-toolbar!-->